<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ $styles := resources.Get "tailwind/output.css" }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{ $script := resources.Get "js/script.js" }} {{ $secureJS := $script |
    resources.Minify }}
    <script defer src="{{ $secureJS.Permalink }}"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>{{ .Site.Title }}</title>
  </head>
  <body class="">
    <header class="bg-slate-800">{{ partial "header.html" . }}</header>
    {{ block "main" . }} {{ end }}
    <footer>{{ partial "footer.html" . }}</footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
