{{ define "main" }}
    <section class="bg-slate-800 w-full py-20">
        <div class="2xl:max-w-7xl mx-auto">
            <div class="space-y-5">
                <h1 class="text-3xl md:text-5xl font-extrabold text-lime-100">{{ .Title }}</h1>
                <p class="text-xl md:text-2xl text-lime-100">{{ .Params.description }}</p>
                <p class="text-lime-100 font-semibold">{{ .Params.date }}</p>
                <img src="{{ site.BaseURL }}/images/{{ .Params.image }}" alt="" class="w-full h-full">
            </div>
            <div class="author-bio-txt text-xl text-slate-100 pt-10">
                {{ .Content }}
            </div>
        </div>
    </section>
{{ end }}