{{ define "main" }}
    <section class="w-full bg-slate-800">
        {{ with .Params }}
        <div class="w-full 2xl:max-w-7xl mx-auto py-36 flex flex-col md:flex-row gap-5 justify-center items-center">
            <div class="w-full md:w-1/2 px-5">
                <h1 class="text-5xl md:text-7xl font-extrabold text-lime-300">{{ .heading }}</h1>
                <h3 class="text-4xl md:text-5xl pt-5 text-lime-100 font-bold">{{ .post_heading }}</h3>
                <p class="text-xl md:text-2xl text-slate-100 pt-5 font-semibold">{{ .paragraph }}</p>
                <ul class="pt-4">
                    {{ range .list }}
                    <li class="text-lg md:text-xl py-2 text-slate-100 list-disc">{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
            <div class="w-full md:w-1/2">
                <img src="{{ site.BaseURL }}/images/dark-theme-genesis.png" alt="">
            </div>
        </div>
        {{ end }}
    </section>
{{ end }}