<nav class="w-full 2xl:max-w-7xl mx-auto p-5 flex justify-between items-center">
    <div class="flex flex-wrap items-center justify-between mx-auto p-4 w-full gap-y-5">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="{{ .Site.BaseURL }}/images/{{ site.Params.logo }}" class="h-8" alt="{{ site.Title }} Logo">
        </a>
        <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
          <button type="button" class="hidden md:block text-slate-800 bg-lime-200 hover:bg-lime-300 focus:ring-4 focus:outline-none focus:ring-lime-100 font-medium rounded-lg text-sm px-4 py-2 text-center transition-all">Connect Wallet</button>
          <button id="menu-opener" data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
              </svg>
          </button>
        </div>
        <div class="items-center z-50 justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
          <ul class="flex flex-col justify-center items-center p-4 md:p-0 mt-4 font-medium rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0">
            {{ range .Site.Menus.main }}
            <li>
              <a href="{{ .URL }}" class="block py-2 px-3 text-lime-100 hover:text-lime-300 md:p-0 transition-colors" aria-current="page">{{ .Name }}</a>
            </li>
            {{ end }}
            <li>
          <button type="button" class="md:hidden mt-3 text-slate-800 bg-lime-300 hover:bg-lime-400 focus:ring-4 focus:outline-none focus:ring-lime-100 font-medium rounded-lg text-sm px-4 py-2 text-center transition-all">Connect Wallet</button>
            </li>
          </ul>
        </div>
        </div>
</nav>